<template>
  <div class="page-full">
    <div class="text-content">
      <h1>This is an about page</h1>
      <blockquote>An A-Z walkthrough of which parts to buy and which parts to DIY. In the end you'll have a CNC capable of advanced 3D milling</blockquote>
      Lorem ipsum dolor sit amet consectetur, adipisicing elit. Nulla, accusamus quod numquam quisquam sed nemo enim eos reprehenderit quaerat, laborum est facere impedit, in atque dolorum praesentium similique fuga non.
      <img src="/images/builds/cnc/cnc1.jpg"/>
    </div>
  </div>
</template>
