<template>
  <div class="home">
    <div class="overlay"></div>

    <div class="home-layout">

      <div class="home-layout__left">
        <div class="home-featured">
          <div class="home-featured__pretitle">
            Featured Build
          </div>
          <div class="home-featured__title">
            DIY CNC Router
          </div>
          <p>An A-Z walkthrough of which parts to buy and which parts to DIY. In the end you'll have a CNC capable of advanced 3D milling</p>
          <a href="#" class="button-white">Get Building</a>
        </div>
      </div>

      <div class="home-layout__right">
        <div class="home-info">
          <img src="/images/wave.svg"/><br>
          Welcome to
          <h1>Build It For Fun!</h1>
          Looking for free project plans? You're in the right spot! <br><a href="#">Learn More</a> about <b>B!FF</b>.
        </div>
      </div>

    </div>

    </div>
</template>

<script>
// @ is an alias to /src
import HelloWorld from '@/components/HelloWorld.vue'

export default {
  name: 'Home',
  components: {
    HelloWorld
  }
}
</script>

<style lang="scss">
  .home {
    width: 100vw;
    height: 100vh;
    background-image: url('/images/builds/cnc/cnc1.jpg');
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    padding: 90px 0;
    position: absolute;
    top: 0;
    left: 0;
  }
  .overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: rgba(43, 55, 87, .6);
    &:before {
      content:'';
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      background: #1057F8;
      mix-blend-mode: multiply;
    }
  }
  .home-layout {
    position: relative;
    color: #fff;
    display: flex;
    justify-content: center;
  }
  .home-layout__left, .home-layout__right {
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    h1 {
      font-weight: 600;
      font-size: 2em;
      line-height: 1.2em;
      font-style: italic;
      margin-bottom: .25em;
    }
  }

  .home-featured {
    box-sizing: border-box;
    padding: 30px;
    max-width: 80%;
    p {
      margin-bottom: 1em;
    }
  }
  .home-featured__pretitle {
    text-transform: uppercase;
    font-size: 2em;
    line-height: 1.2em;
    font-weight: 200;
  }
  .home-featured__title {
    line-height: 1.2em;
    font-size: 3em;
    font-weight: 800;
    text-transform: uppercase;
    &:after {
      content:'';
      display: block;
      width: 100px;
      height: 4px;
      background: #fff;
      margin: .5em auto;
    }
  }
  .home-info {
    background: $dark;
    padding: 40px;
    box-sizing: border-box;
    max-width: 80%;
    a:link, a:visited {
      color: $light-blue;
    }
  }
</style>