<template>
  <div id="app">
    <header :class="{homeHeader: $route.name === 'Home'}">
     <router-link to="/" class="home-link">B!FF</router-link> 
      <nav>
        <router-link to="/about">About</router-link>
        <router-link to="/articles">Articles</router-link>
        <router-link to="/submit">Submit Build</router-link>
        <router-link to="/all">All Builds</router-link>
      </nav>
    </header>
    <transition name="transition">
        <router-view class="view"></router-view>
      </transition>
  </div>
</template>

<style lang="scss">
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;600&display=swap");
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
  text-decoration: none;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
html {
  background: $dark;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

#app {
  font-family: 'Montserrat', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  font-size: 16px;
  font-weight: 300;
  line-height: 1.5em;
}

header {
  background: #fff;
  display: flex;
  flex-direction: row;
  left: 0;
  position: relative;
  top: 0;
  max-width: 100%;
  width: 100vw;
  z-index: 100;
  font-weight: 600;
  color: #222;
  padding: 0 .5em;
  box-sizing: border-box;
  text-transform: uppercase;
  transition: .2s;
}

.homeHeader {
  background: none;
  color: #fff;
  .home-link {
    color: #fff;
  }
}

.home-link {
  color: $blue;
  padding: 1.5em 1em;
  text-decoration: none;
  font-size: 20px;
}

nav {
  flex-grow: 1;
  text-align: right;
  a:link, a:visited {
    display: inline-block;
    padding: 2em 1em;
    color: inherit;
    text-decoration: none;
    font-size: 16px;
  }
  a.router-link-active {
    color: $blue;
  }
}


.transition-enter-active,
.transition-leave-active {
  transition: .4s;
}

.transition-enter {
  transform: scale(1.1);
  opacity: 0;
}
.transition-leave-active {
  transform: scale(.9);
  opacity: 0;
}

a.button-white {
    background: #fff;
    text-transform: uppercase;
    color: $blue;
    padding: 1em 1.25em;
    display: inline-block;
    font-weight: 600;
}

.page-full {
  background: #f0f4fb;
  padding: 40px;
  .text-content {
    width: 1000px;
    max-width: 100%;
    margin: 0 auto;
  }
}

.text-content {
  text-align: left;
  font-weight: 300;
  color: $dark;
  h1 {
    font-size: 2.5em;
    line-height: 1.5em;
  }
  blockquote {
    background: $dark;
    border-left: 4px solid $blue;
    padding: 30px;
    color: #fff;
    margin: 1em 0;
  }
  img {
    max-width: 100%;
    height: auto;
  }
}

</style>
